# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: asmodine_back_mariadb
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~

    elasticsearch_host: asmodine_elasticsearch
    elasticsearch_port: 9200
    elasticsearch_username: elastica
    elasticsearch_password: changeme

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mailer_port: 1025
    mailer_sender_address: nepasrepondre@asmodine.com
    mailer_sender_name: Asmodine

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    locale: fr

    logger.level.asmodine_common_api_authentication: warning
    logger.level.asmodine_common_email: warning
    logger.level.asmodine_common_elasticsearch: warning
    logger.level.asmodine_admin: warning
    logger.level.asmodine_sizeadvisor: warning

    affiliate.awin.api_key: abcdefghijklmnopqrst

    api_keys.server.front.key: rRbad3rPpKazCZ4FQQ6Mmo9rvoWfqFL6hkrp7BJm
    api_keys.client_key: QFCXKEFn4RV3waH7aUAjVFTKqsRL7MhxRZ39zEdd
    asmodine_front_url: asmodine_front_nginx:8080/app_dev.php